<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p><strong>ID:</strong> {{ id }}</p>
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Phone Number:</strong> {{ phone_number }}</p>
    <p><strong>Referral Number:</strong> {{ referal_number }}</p>
    <p><strong>Activated Invite Code:</strong> {{ activated_referal_number }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Invite Code</button>
    </form>
</body>
</html>
